.ck-box {
    align-self: flex-start;
    justify-self: flex-start;
}

.checkout-box {
    background: #F2F2F2;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    /* min-width: 350px; */
    /* height: 535px; */
    border-radius: 12px;
}

.box-grid {
    margin: 40px auto;
}
.product_name {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}

.prices {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
}

.new_price {
    font-size: 16px;
    font-weight: 600;
    color: #f2994a;
}

.old_price {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    color: #4e5150;
    text-decoration: line-through;
    margin-left: 10px;
}

.text_col {
    padding-left: 0;
}

.image img {
    width: 90%;
    min-width: 120px;
    max-width: 100%;
    border-radius: 12px;
}

.price_c {
    margin-top: 130px;
}

.cost_add, .t-tal {
    border-top: 2px solid #000;
    margin: 10px auto;
}

.cost_add p, .t-tal p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    
}

.shipping_p p {
    float: right;
}
@media (max-width: 600px) {
    .checkout-box {
      order: 1;
    }
}
@media (max-width: 600px) {
    .checkout-box {
        /* min-width: 320px; */
        margin: 0 auto;
        width: 100%;
    }

    .image img {
        width: 40%;
        min-width: 100px;
        max-width: 100%;
        border-radius: 12px;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .cost_add p, .t-tal p {
        font-size: 14px;
        line-height: 17px;
    }

    .product_name {
        font-size: 12px;
    }

    .new_price {
        font-size: 14px;
    }
    
    .old_price {
        font-size: 10px;
    }
}